<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <title>Taller Pascual Caro</title>
    <link rel="stylesheet" href="../public/css/style.css" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="../index.html"
            ><img src="../public/img/logo/logo2.png" />PASCUAL CARO</a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="../index.html"
                  title="Volver a la página principal"
                  >Inicio</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="./conocenos.html"
                  >Conocenos</a
                >
              </li>
              <li class="nav-item"><a class="nav-link" href="../layouts/limpieza.html" title="Informate del servicio de limpieza mas completo">Limpieza Integral</a></li>
                  <li class="nav-item"><a class="nav-link" href="../layouts/retiro.html" title="Tu tiempo es importante para nosotros">Retiro y Entrega</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="titulo textoConSombra"><h1>Conocenos</h1></div>
    <div class="banner">
      <img
        src="../public/img/banner/bhistoria.png"
        alt="chaperia y pintura"
        class="img-fluid"
      />
    </div>
    <br><br>
    <div class="conocenos">
      <section class="historia">
        <div class="textoLado" id="historia">
          <h3>Historia</h3>
          <p>
            Iniciada por Pascual Caro a mediados de los 80' en forma
            independiente. En los 90' su cuñado David ya trabajaba con él y para
            fines de los 90' Pascual dirigía el taller, ubicado en San Jóse Guaymallén.
            Movilizado por la creciente demanda del servicio,
            emprendió la construcción de su taller. A
            lo largo de los años, el taller fue adaptándose a los cambios
            tecnológicos de la industria automotriz; ampliando y organizando el
            espacio de trabajo, incorporando nuevas herramientas y productos y
            capacitándose continuamente.
          </p>
        </div>
        <div class="imagen">
          <img
          src="../public/img/advertising/conocenos01.jpg"
          alt="chaperia y pintura alta gama"
          class="img-fluid"
        />
        </div>
      </section>
      <br />
      <section class="empresa">
        <div class="imagen">
          <img
          src="../public/img/advertising/conocenos02.jpg"
          alt="chaperia y pintura alta gama"
          class="img-fluid"
        />
        </div>
        <div class="textoLado" id="empresa">
          <h3>Empresa</h3>
          <p>
            Empresa Taller Suarez es una empresa dedicada desde su concepción a
            la reparación de automóviles. Con más de 30 años de experiencia, es
            un constante promotor de la innovación en su ámbito. Hoy, sigue
            buscando la mejora continua, manteniendo dos pilares fundamentales:
            la calidad y el profesionalismo.
          </p>
        </div>
      </section>
      <br />
      <section class="equipamiento">
        <div class="textoLado" id="equipamiento">
          <h3>Equipamiento</h3>
          <p>
            En nuestro Taller somos fieles a la idea de que para realizar un
            buen trabajo es necesario utilizar el equipamiento adecuado, es por
            esto que tanto nuestros equipos como los productos que empleamos son
            de primera calidad y están homologados por las principales
            terminales automotrices.
          </p>
        </div>
        <div class="imagen"><img
          src="../public/img/advertising/conocenos03.jpg"
          alt="chaperia y pintura alta gama"
          class="img-fluid"
        /></div>
      </section>
      <br>
      <section>
        <img
          src="../public/img/advertising/pie02.jpg"
          alt="chaperia y pintura alta gama"
          class="img-fluid"/>
      </section>
    </div>
    <br>
    <div class="myFooter">
      <footer id="CONTACT" class="footer-area">
        <div class="footer-top-content">
          <div class="contenido">
            <div class="fila">
              <div class="columna">
                <p>
                  Números de contacto:<br />
                  <a href="tel:+54261270329">(+54) 261 270 329</a><br />
                  <a href="tel:+54261270329">(+54) 261 271 276</a>
                </p>
              </div>
              <div class="columna">
                <p>Más información</p>
                <p>
                  Email:<br />
                  <a href="mailto:pascual_caro@hotmail.com"
                    >pascual_caro@hotmail.com</a
                  >
                </p>
              </div>
              <div class="columna">
                <p>Encontranos en:</p>
                <p>
                  <a
                    href="https://goo.gl/maps/dSyGDnvCua9ALGvY6"
                    target="_blank"
                    >Calle Fleming 851 - San José
                Guaymallén, Mendoza (CP: 5519)</p></a>
              </div>
            </div>
          </div>
        </div>
        <div class="buttonFooter">
          <a class="aWhatsapp" href="https://api.whatsapp.com/send?phone=542616469574"
            target="_blank"
            ><div class="buttonWhatsapp">
              <img src="../public/img/icons/whatsapp.svg" />
            </div>
          </a>
          <p id="marca">Pascual Caro © 2021</p>
          <div class="socialIcons">
            <ul>
              <li><div class="cuadradoFace"><a href="https://www.facebook.com/" target="_blank" class="face"
                ><i class="fab fa-facebook-f"></i
              ></a></div>
              </li>
              <li>
                <div class="cuadradroTwitter"><a href="https://twitter.com/" target="_blank" class="twitter"
                  ><i class="fab fa-twitter"></i
                ></a></div>
              </li>
              <li>
                <div class="cuadradroInsta">
                  <a href="https://www.instagram.com/"
                  target="_blank"
                  class="insta"
                  ><i class="fab fa-instagram"></i></a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
